<nav class="community">
    <ul>
        <li><a class="twitter" href="https://yutaii.run/twitter" target="_blank">Twitter <img src="/images/community_logo/twitter.svg" alt="Twitter Logo" class="logo"/></a></li>
        <li><a class="youtube" href="https://yutaii.run/youtube" target="_blank">Youtube <img src="/images/community_logo/youtube.svg" alt="Youtube Logo" class="logo"/></a></li>
        <li><a class="facebook" href="https://yutaii.run/facebook" target="_blank">Facebook <img src="/images/community_logo/facebook.svg" alt="Facebook Logo" class="logo"/></a></li>
        <li><a class="instagram" href="https://yutaii.run/instagram" target="_blank">Instagram <img src="/images/community_logo/instagram.svg" alt="Instagram Logo" class="logo"/></a></li>
        <li><a class="plurk" href="https://yutaii.run/plurk" target="_blank">Plurk <img src="/images/community_logo/plurk.svg" alt="Plurk Logo" class="logo"/></a></li>
        <li><a class="twitch" href="https://yutaii.run/twitch" target="_blank">Twitch <img src="/images/community_logo/twitch.svg" alt="Twitch Logo" class="logo"/></a></li>
        <li><a class="discord" href="https://yutaii.run/discord" target="_blank">Discord <img src="/images/community_logo/discord.svg" alt="Discord Logo" class="logo"/></a></li>
        
    </ul>
</nav>