<section class="introduction">
    <div class="avatar">
        <img src="/images/avatar_400x400.webp" alt="悠太翼頭像" />
    </div>
    <div class="introduction_content">
        <h3>VTuber / VCoder / VSinger</h3>
        <h1>悠太翼</h1>
        <p>為台灣個人勢Vtuber、盔甲正太系程式Vtuber，語言主要以中文為主，直播內容以程式、唱歌、遊戲、雜談為主。</p>
    </div>
</section>