<section class="introduction">
    <div class="avatar">
        <img src="/images/avatar_400x400.webp" alt="悠太翼頭像" />
    </div>
    <div class="introduction_content">
        <h3>@Document.GetString("SiteAuthorTitle")</h3>
        <h1>@Document.GetString("SiteAuthor")</h1>
        <p>@Document.GetString("SiteDescription")</p>
    </div>
</section>