nav.community {
    ul {
        margin: 25px 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 8px;
        
        li {
            @media (max-width: 930px) {
                width: 95%;
            }

            margin: 0px;
            padding: 0px;

            a {
                @media (max-width: 930px) {
                    width: 100%;
                }

                display: flex;
                color: white;
                text-decoration: none;
                width: 175px;
                height: 50px;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-weight: 700;

                border: 2px solid;
                border-radius: 50px;

                transition: background-color 0.5s, 
                            border 0.5s;

                &.twitter{
                    background-color: rgb(30, 174, 251);
                    border-color: rgb(30, 174, 251);
                }

                &.youtube{
                    background-color: rgb(235, 0, 0);
                    border-color: rgb(235, 0, 0);
                }

                &.facebook{
                    background-color: rgb(26, 93, 205);
                    border-color: rgb(26, 93, 205);
                }

                &.instagram {
                    background-color: rgb(238, 7, 153);
                    border-color: rgb(238, 7, 153);
                }

                &.plurk {
                    background-color: rgb(255, 87, 77);
                    border-color: rgb(255, 87, 77);
                }

                img.logo {
                    height: 75%;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);
                }

                &:hover, &:active {
                    background-color: white;
                    border: 2px solid black;
                    color: black;

                    img.logo {
                        filter: none;
                    }
                }
            }
        }
    }
}