section.post_list {
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    column-gap: 33px;
    row-gap: 20px;

    @media (max-width: 930px) {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .post {
        a {
            text-decoration: none;
            color: inherit;
        }

        a.thumbnail {
            display: block;
            position: relative;
            margin: 0 auto;
            border-radius: 10px;
            width: 288px;
            height: 162px;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            transition: top 0.3s ease-in-out, filter 0.3s ease-in-out;
            top: 0px;

            @media (max-width: 930px) {
                width: 100%;
                height: auto;
                aspect-ratio: 16 / 9;
            }

            &:before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(-45deg, #210cae -17%, #4dc9e6 100% );
                transform: translate3d(10px, 10px, 0) scale(1);
                filter: blur(10px);
                opacity: var(0.7);
                transition: opacity 0.3s;
                border-radius: inherit;
            }

            &::after {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: inherit;
                border-radius: inherit;
            }
        }

        &:hover, &:active {
            a.thumbnail {
                top: -15px;
                filter: brightness(0.3);
            }
        }

        h2 {
            width: 288px;
            margin: 5px auto 30px auto;
            font-size: 17pt;
            line-height: 1.3;

            @media (max-width: 930px) {
                width: 100%;
            }
        }

        h3 {
            width: 288px;
            margin: 15px auto 0 auto;
            color: gray;
            font-size: 15pt;

            @media (max-width: 930px) {
                width: 100%;
            }
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 5px 0;
            gap: 10px;

            li {
                display: block;
                font-size: 12pt;
                padding: 5px 10px;
                color: white;
                border-radius: 20px;
            }
        }
    }
}